body
{
background-image: linear-gradient(to right top, #bdb2ff, #ffc6ff,#c0fdff);
text-align: center;
align-items: center;
}
#maindiv{
    color: #bdb2ff;
    background-color:black;
    border-radius: 20px;
}
#sub{
    background-color:black;
    border-color: blueviolet;
    height: 50px;
    width: 200px;
}